<div class="container">
    <%= form_tag ask_home_path, class: "question" do %>

    <div class="form-group">
      <center>
        <div class = 'logo_app'>
        </div>
        <h1>Preguntame algo</h1>
      </center>
    </div>
    <div class = 'contenedor'>
    <div class="form-group">
        <%= text_area_tag :question, nil, class: "question form-control",placeholder: "Escribe un pregunta acá"  %>
    </div>
    <div class="form-group">
        <%= submit_tag "Preguntame!", class: "form-control btn btn-default" %><br><br>
    </div>
    <% end %>

    <div class="error"></div>
    <div class="response"></div>
</div>
</div> 
