<center>
    <div class="container-fluid">
        <div class='contenedor'>
            <% @questions.each do |q| %>
            <p>
                <%= 'Valor: ' + q.score + ' Pregunta: ' + q.question %>
            </p>
            <% end %>
        </div>
    </div>
</center>
