<center>
    <div class="container-fluid">
        <%= form_tag ask_home_path, class: "question" do %>

        <div class="form-group">
            <center>
                <div class='logo_app'></div>
                <h1>Preguntame algo</h1>
            </center>
        </div>
        <div class='contenedor'>
            <div class="form-group">
                <%= text_area_tag :question1, nil, class: "question form-control",placeholder: "Escribe el primer parámetro"  %>
                <br><p>V/S </p>
                <%= text_area_tag :question2, nil, class: "question form-control",placeholder: "Escribe el segundo parámetro"  %>
            </div>
            <div class="form-group">
                <%= submit_tag "Preguntame!", class: "form-control btn btn-primary" %><br><br>
            </div>
            <% end %>

        </div>

        <div class='contenedor'>
            <div class="error"></div>
            <div class="response"></div>
            <center></center>
        </div>
    </div>
</center>
