<!DOCTYPE html>
<html>
    <head>
        <title>Preguntame</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <%= stylesheet_link_tag "application" %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <div class="form-group">

            <center>
                <div class='logo_app'></div>
                <h1>Preguntame algo</h1>
            </center>

        </div>



        <div class="form-group">
            <center>
                <h3>Ve como se siente twitter</h3>
            </center>
        </div>

        <%= yield %>

    </body>
</html>
<script>
    function rotateAnimation(elem,speed){

      var degrees = 30
        if(navigator.userAgent.match("Chrome")){
            elem.style.WebkitTransform = "rotate("+degrees+"deg)";
        } else if(navigator.userAgent.match("Firefox")){
            elem.style.MozTransform = "rotate("+degrees+"deg)";
        } else if(navigator.userAgent.match("MSIE")){
            elem.style.msTransform = "rotate("+degrees+"deg)";
        } else if(navigator.userAgent.match("Opera")){
            elem.style.OTransform = "rotate("+degrees+"deg)";
        } else {
            elem.style.transform = "rotate("+degrees+"deg)";
        }
        looper = setTimeout('rotateAnimation(\''+el+'\','+speed+')',speed);
        degrees++;
        if(degrees > 359){
            degrees = 1;
        }

        document.getElementById("status").innerHTML = "rotate("+degrees+"deg)";

    }
    var bird = document.getElementsByClassName("logo_app");
    bird.onmousemove = rotateAnimation(bird, 30)


</script>
